#boxx
{
    --wid:25%
}
@media only screen and (max-width: 750px) 
{
    #boxx
    {
    --wid:90%
    }
}
.containe
{
    display: flex;
}
img
{
    margin:15px;
    width: 400px;
    height: 400px;
    display: inline;
    object-fit: cover;
    
}
#boxx
{
    width: var(--wid);
}
.box
{
    width: 90%;
    border-radius: 10px;
    border-color: rgb(221, 93, 7);
    border-style:solid;
    padding: 15px;
    background-color: rgb(228, 183, 101);
    margin-bottom: 10px;
    border-width: 4px;
}
.title
{
    color:rgb(219, 46, 3);
    font-family: cursive;
    font-weight: bold;
}
.list
{
    list-style-image: url('../image/check.png');
}

.list li
{
    margin:10px;
    font-family: cursive;
    color:rgb(0, 0, 0);
    margin-bottom: 20px;

}